@import "tailwindcss";

@theme inline {
  --color-background: #181719;
  --color-primary: #6361fd;
  --color-secondary: #2aceca;
  --color-light: #e3e3e3;
  --color-gray: #afafaf;
  --font-sans:
    var(--font-roboto), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
